dist/
www/

*~
*.sw[mnpcod]
*.log
*.lock
package-lock.json
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

components.d.ts

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
.codesandbox/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
coverage/
junit.xml
